.service-img {
  border-radius: 8px;
  overflow: hidden;
}

.about-description {
  text-align: justify;
  font-weight: 300 !important;
  font-size: 20px !important;
  line-height: 30px;
  max-width: 95%;
}

/* SECTION CLIENTS */
.section-client {
  padding: 0px 0px 50px 0px;
}
.client-card:focus-visible {
  outline: none;
}
.client-card img {
  max-width: 120px;
  margin: 0 auto;
  height: auto;
}
/* SECTION CLIENTS */

.chip {
  display: inline-flex;
  padding: 6px 12px;
  background: #eafcf7;
  border-radius: 16px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #535353;
  align-items: center;
  margin-bottom: 15px;
}
.chip i {
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
}
.chip:not(:last-of-type) {
  margin-right: 20px;
}

.property-card {
  cursor: pointer;
  height: 100%;
}

.property-card .MuiPaper-root {
  height: 100%;
}

.about-us-img {
  object-fit: cover;
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

.site-footer {
  padding: 40px 0px;
}

.footer-links {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.footer-links li{
  margin-bottom: 15px;
}
.footer-links a {
  display:flex;
  align-items: center;
  font-size: 14px;
  color: #535353;
  text-decoration: none;
  max-width: 300px;
}
.footer-links a img {
  max-width: 24px;
  height: auto;
  margin-right: 10px;
  align-self: flex-start;
}

.social-link{
  list-style: none;
  padding: 10px 0px 0px 0px;
  margin: 0px;
}
.social-link li{
  display: inline-block;

}
.social-link li:not(:last-of-type){
  margin-right: 15px;
}
.social-link img{
  max-width: 24px;
}
.MuiDateRangePickerDay-rangeIntervalDayHighlight{
  background-color: #0c9b7570 !important;
}

.service-card{
  cursor: pointer;
}
caption{
  cursor: pointer;
}
@media (max-width: 768px) {
  .about-col-2 {
    order: 1;
  }
  .about-col-1 {
    order: 2;
  }
}

@media (max-width: 576px) {
  .about-description {
    font-size: 16px !important;
    line-height: 25px;
    max-width: 100%;
  }
  .about-us-img {
    height: 250px;
  }
}
