.service-img {
  border-radius: 8px;
  overflow: hidden;
}

.about-description {
  text-align: justify;
  font-weight: 300 !important;
  font-size: 20px !important;
  line-height: 30px;
  max-width: 95%;
}

/* SECTION CLIENTS */
.section-client {
  padding: 0px 0px 50px 0px;
}
.client-card:focus-visible {
  outline: none;
}
.client-card img {
  max-width: 120px;
  margin: 0 auto;
  height: auto;
}
/* SECTION CLIENTS */

/* TALK TO US CONTAINER */
.talk-to-us-wrapper {
  display: flex;
  align-items: center;
}

/* TALK TO US CONTAINER */

.chip {
  display: inline-flex;
  padding: 6px 12px;
  background: #eafcf7;
  border-radius: 16px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #535353;
  align-items: center;
  margin-bottom: 15px;
}
.chip i {
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
}
.chip:not(:last-of-type) {
  margin-right: 20px;
}

.property-card {
  cursor: pointer;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #e0e0e0;
  transition: 0.3s ease;
  overflow: hidden;
}

.property-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.property-card .MuiPaper-root {
  height: 100%;
  box-shadow: none;
  border-radius: none;
}
.property-Name {
  font-size: 18px !important;
}

.property-address {
  font-size: 14px;
  color: #717171;
}
.property-data span {
  font-weight: 400;
}
.property-price h5 {
  font-size: 20px;
  color: #191919;
  margin: 15px 0px;
}
.property-price span {
  font-size: 16px;
  font-weight: normal;
  color: rgb(83, 83, 83);
}

.about-us-img {
  object-fit: cover;
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

.site-footer {
  padding: 40px 0px;
}

.footer-links {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.footer-links li {
  margin-bottom: 15px;
}
.footer-links a {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #535353;
  text-decoration: none;
  max-width: 300px;
}
.footer-links a img {
  max-width: 24px;
  height: auto;
  margin-right: 10px;
  align-self: flex-start;
}

.social-link {
  list-style: none;
  padding: 10px 0px 0px 0px;
  margin: 0px;
}
.social-link li {
  display: inline-block;
}
.social-link li:not(:last-of-type) {
  margin-right: 15px;
}
.social-link img {
  max-width: 24px;
}
.MuiDateRangePickerDay-rangeIntervalDayHighlight {
  background-color: #0c9b7570 !important;
}

.service-card {
  cursor: pointer;
}
caption {
  cursor: pointer;
}

.sidebar-link {
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.sidebar-link li:not(:last-of-type) {
  margin-bottom: 20px;
}

.sidebar-link a {
  display: inline-block;
  text-decoration: none;
  font-size: 28px;
  color: #fff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.error {
  display: block;
  text-align: center;
  color: red;
  font-size: 12px;
  padding: 10px;
}
.otp-input {
  text-align: center;
}

.default-page {
  padding: 50px 0px;
}
.custom-container {
  margin-left: 60px;
  margin-right: 60px;
}
.default-page h1 {
  margin: 0;
  font-size: 32px;
  font-family: Roboto;
  font-weight: normal;
  color: #0c9b75;
  margin-bottom: 20px;
}
.default-page .about-description {
  font-size: 16px !important;
}
.default-page h3 {
  margin: 0px 0px 15px 0px;
}

.default-page ol li::marker,
.default-page h3 {
  font-size: 20px;
  font-weight: 700;
}

.default-page ol ul {
  counter-reset: alphabeticList;
}
.default-page ol ul {
  list-style: none;
}
.default-page ol ul li {
  text-align: justify;
  font-weight: 300 !important;
  font-size: 14px !important;
  line-height: 25px;
}
.default-page ol ul li:before {
  content: "(" counter(alphabeticList, lower-alpha) ") ";
  counter-increment: alphabeticList;
  font-weight: bold;
}
@media (max-width: 768px) {
  .about-col-2 {
    order: 1;
  }
  .about-col-1 {
    order: 2;
  }
}

@media (max-width: 576px) {
  .about-description {
    font-size: 16px !important;
    line-height: 25px;
    max-width: 100%;
  }
  .about-us-img {
    height: 250px;
  }
  .site-footer ul {
    margin-bottom: 15px;
  }
  .talk-to-us-wrapper h2 {
    margin-bottom: 10px;
  }
  .custom-container {
    margin-left: 20px;
    margin-right: 20px;
  }
  .default-page h3 {
    font-size: 18px;
  }
  .default-page p {
    font-size: 14px !important;
  }
}
